@import 'config';

* {
    scroll-behavior: smooth;
}

body {
    background-image: url('../../static/images/sara-the-freak-A4UojtraSrw-unsplash.jpg');
    background-size: 1920px 1080px;
    background-attachment: fixed;
}

p {
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track:horizontal {
    background: transparent
}

::-webkit-scrollbar-thumb:horizontal {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover:horizontal {
    background: #555
}

.top {
    height: 100vh;
}

.hourly {
    height: 100vh;
}

.daily {
    height: 100vh;
}

.chart {
    position: relative;
    height: 10vh;
    width: 80%;
    left: 10%;
    right: 10%;
}

@import 'toggle';
@import 'dropdown';
@import 'weather';
@import 'layout';

