$card-color:#003d9ec0; 

body {
    background-color: #000c50;
}

.weather-now {
    margin: 10% 40% 20% 40%;
    text-align: center;
    color: #fff;
}

.temp-now {
    font-size: 30px ;
    margin: 0;
}

&current {
    margin: 0;
    %time {
        font-size: 60px;
    }
}

.weather-list {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    top: auto;
    overflow:auto;
}
.weather-card {
    margin: 10px;
    border-radius: 15px;
    border: 0px;
    background-color: $card-color;
    width: 130px;
    height: 150px;
    padding: 20px;
    text-align: center;
}
